body {
    overflow: hidden;
	padding: 0;
	margin: 10;
	background-color: rgb(30, 30, 30);
}

#applySettingsBtn
{
    width: 140px;
    margin: 10px;
}

#canvas-container
{
    margin: 0px;
}

/* .horizontalAlignment {
    position: relative; 
    overflow: hidden;
    float: left;
}

.setting {
    color: white;
}

.leftMargin {
    margin-left: 20;
} */